<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--Tag配置-->
    <sectionGroup name="Tag">
      <section name="default" type="OpcClient.Config.TagConfiguration,OpcClient"/>
    </sectionGroup>
    <!--OPC地址-->
    <sectionGroup name="Address">
      <section name="default" type="OpcClient.Config.OpcAddressConfiguration,OpcClient"/>
    </sectionGroup>
  </configSections>
  <Address>
    <!--OPC地址配置-->
    <default opcProtocol="2" opcTypeName="UaOpcClient.UaOpc" reconnectEnable="true"
      reconnectInterval="10000">
      <da ip="127.0.0.1" serverName="KEPware.KEPServerEx.V4" />
      <ua uri="opc.tcp://172.22.197.45:49328" useSecurity="false" userName=""
        password="" />
    </default>
  </Address>
  <Tag>
    <!--Tag基础配置-->
    <default tagPath="\Config\tags.xml" triggerUpdateRate="250" dataUpdateRate="5000">
    </default>
  </Tag>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
